* {
    margin:0;
    padding:0;
}

#sblogo {
    height:109px;
    width:371px;
}
body {
    width:auto;
/* yj's frustrating style */
    background:#f9c14d;
/*    font-family: 'Museo Sans 500';
    font-family: 'Museo Sans 300'; ...commented b/c you can't apply multiple...should just do font-family = primary, secondary tertiary, etc.*/
    font-family: 'Museo Sans 700', serif;
    font-weight: normal !important;
}
.header img {
    float: center;
    width: 340px;
    height: 220px;
    background: transparent;
}
.custom-btn {
        /*margin-left: 40%;
        margin-right:40%;*/
    width: 300px;
    border:none;
    background:#28ad50;
    color:white !important;
    text-align: center;
    font-family:'Museo Sans 700';
}
/*end yj */

.code-back {
    background-color:white;
    height:70vh;
    text-shadow: 0 0 0 black;
    border-radius:15px;
}

.explanation {
    font-family: "Times New Roman", Times, serif;
    height:30vh;
}
.example-code {
    padding:5px;
}
.code-comment {
    color:green;
    font-family: Arial, Verdana, Sans-serif;
}

.actual-code {
    font-family: "Courier New", Monospace;
}

.ui-input-text {
    width:75px;
}

.yjbanner {
    background:#f9c14d !important;
    border:none !important;
    outline:0;
}

.yjbackbut {
    width:17px;
    height:20px;
    padding-left:20px;
    padding-top:6px;
}
.yjmenubut {
    width:7px;
    height:20px;
    padding-right:32px;
    padding-top:6px;
}
.yjpage .ui-body-c div {
    background:#f9c14d;
}
.yjpage {
    background:#f9c14d !important;
}
.yjpagehead {
    padding-top:16px;
    font-family:'Museo Sans 700';
    font-size:20px;
}
.yjfuhe {
    min-height:500px;
}

/* see this is the ultimate annoyance */
.custom-btn, .next-button {
        /*margin-left: 200px!important; #noplz */
        width: 100px !important;
        border:none;
        background-color:#28ad50 !important;
        background-image:none !important;
        color:white !important;
        font-family:'Museo Sans 700';
}

.aside .ui-controlgroup-controls{
    width:100%;
white-space:nowrap;    
}
.aside .ui-input-text {
    box-sizing:border-box;
    display:inline-block;
    margin:0;
    padding:0;
    width:50%;
}

@media all {        
    .ui-field-contain input.ui-input-text,
    .ui-field-contain textarea.ui-input-text,
    .ui-field-contain .ui-input-search {
        width: 78%;
        display: inline-block;
    }

    .ui-field-contain label.ui-slider,
    .ui-field-contain label.ui-input-text {
        vertical-align: top;
        display: inline-block;
        width: 20%;
        margin: 0 2% 0 0;
    }
}

.actual-code input[type="text"] {
    width:38%;
}

.rdnum {
    color:red;
    font-family: "Montzoar", "Courier New", Monospace;
}
/*
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
    p {
        color:blue;
    }
}
    */
