* {
    margin:0;
    padding:0;
}

#sblogo {
    height:109px;
    width:371px;
}
body {
    width:auto;
}

.code-back {
    background-color:white;
    height:70vh;
    text-shadow: 0 0 0 black;
    border-radius:15px;
}

.explanation {
    font-family: "Times New Roman", Times, serif;
    height:30vh;
}

.example-code {
}

.code-comment {
    color:green;
    font-family: Arial, Verdana, Sans-serif;
}

.actual-code {
    /*color:white;*/
    font-family: "Courier New", Monospace;
}

.next-button {
    background-color: green;
    padding: 10px 7px;
    color:white;
    text-decoration:none;
    margin-top:10px;
    display:block;
    width:37px;
}

.ui-input-text {
    width:75px;
}

.yjbanner {
    background:#f9c14d !important;
    border:none !important;
    outline:0;
}

.yjbackbut {
    width:17px;
    height:20px;
    padding-left:20px;
    padding-top:6px;
}
.yjmenubut {
    width:7px;
    height:20px;
    padding-right:32px;
    padding-top:6px;
}
.yjpage .ui-body-c div {
    background:#f9c14d;
}
.yjpage {
    background:#f9c14d !important;
}
.yjpagehead {
    padding-top:16px;
    font-family:'Museo Sans 700';
    font-size:20px;
}
.yjfuhe {
    min-height:500px;
}
/*
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
    p {
        color:blue;
    }
}
    */
